/*calon partisipan*/
@font-face { 
  font-family: Ubuntu; 
  src: url('../fonts/Ubuntu-R.ttf'); 
}
.block-title {
  color: #B22222;
  font-weight: bold;
  text-align: left;
  font-size: 25px;
  margin-top: 5px;
  font-family: Ubuntu; 
  src: url('../fonts/Ubuntu-R.ttf');
}
.line{
  border-width: 5px;
}
.judul{
  margin-left: 125px;
  text-decoration: uppercase;
}
.judulp{
  margin-left: 520px;
  text-decoration: uppercase;
}
.table{
  margin-left: 0px;
  font-family: ubuntu;
  font-size: 12px
}
.tablep{
  margin-left: 445px;
  width: 530px;
}
.table td{ 
  background:#F0FFFF;
  border-bottom: solid 1px #F56B08;   
  padding:10px 10px; 
}
.checkbox1{
    margin-left: 125px;
}
.checkbox{
    margin-left: 5px;
}
.main-button.register2 {
  background-color: orange;
  float:right;
  color:white;
  font-weight: bold;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 8px;
  padding-left: 8px;
  margin-left: 50px;
  margin-right: 640px;
  border-radius: 5px;
  border: 5px;
}
.main-button.register3 {
  background-color: orange;
  float:right;
  color:white;
  font-weight: bold;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 8px;
  padding-left: 8px;
  margin-left: 50px;
  margin-right: 405px;
  border-radius: 5px;
  border: 5px;
}
.approved.icon-button.active {
  background-color: rgb(225, 0, 101);
  color: #fafafa;
}
.approve.icon-button {
  border: #D86746 2px solid;
  color: #FCA93B;
}
.approve.icon-buttonp {
  border: #D86746 2px solid;
  color: #FCA93B;
  margin-left: 20px;
}
.icon-button {
  border-radius: 20px;
  padding: 5px;
  text-align: center;
  margin-left: 11px;
}
.icon-buttonp {
  border-radius: 20px;
  padding: 5px;
  text-align: center;
  margin-left: 20px;
}
.nama{
  text-align: left;
  font-weight: bold;
  font-size: 12px;
}
.matkul{
  text-align: left;
  font-weight: lighter;
}
/*end 0f calon partisipan*/

* { padding:0; margin:0; outline:0; }
body {
	background:#f9ebae;
	font-family: Ubuntu;
	font-size:12px;
	line-height:14px;
	color:#5e5e5e;
}
input, textarea, select { font-family: Verdana, sans-serif; font-size:13px; }
textarea { overflow:hidden; }

.field { border:solid 1px #d3cfc7; background:#fff; padding:5px; }
.small-field { border:solid 1px #d3cfc7; background:#fff; padding:3px 1px; font-size:11px; }

.checkbox { width:13px; height:13px; vertical-align:top; position:relative; top:2px; }

.button { background:#eee url(../images/admin/button.gif) repeat-x 0 0; border:solid 1px #b1a874; color:#7f7f7f; font-size:11px; padding:2px 6px 2px 6px; cursor:pointer; line-height:14px !important; }
.button:hover { color:#333; border-color:#857b42; }


.field:focus { color:#000; border-color:#857b42;}

a img { border:0; }

a { color:#ba4c32; text-decoration: underline; cursor:pointer; }
a:hover { color:#8d341f; text-decoration: none;}

.left, .alignleft { float:left; display:inline; font-weight: bold; font-family: ubuntu; font-size: 20px;}
.right, .alignright { float:right; display:inline; }

.cl { font-size:0; line-height:0; clear:both; display:block; height:0; }

.al { text-align: left; }
.ar { text-align: right; }
.ac { text-align: center !important; width: 260px}

h1{ font-size:22px; line-height:24px; color:#fff; font-weight: normal;}
h1 a{ color:#fff; text-decoration: none; }
h2 { font-size:15px; font-weight: normal; }
h3 { font-size:12px; line-height:14px; font-weight: normal; }
h3 a{ text-decoration: none; }



.shell { width:1100px; margin:0 auto; }

#header { height:89px; background:url(../images/admin/header.gif); white-space:nowrap; }
#header h1{ float:left; display:inline; padding-top:12px; }
#top-navigation { float:right; white-space:nowrap; color:#fff; padding-top:15px; }
#top-navigation a{ color:#fff; }
#top-navigation span{ color:#dca598; }
#top { height:53px; }

/*
-------------------OLD MENU NAV -------------------------------
#navigation { height:36px;}
#navigation ul{ list-style-type: none;}
#navigation ul li{ float:left; display:inline; margin-right:2px;}
#navigation ul li a,
#navigation ul li a span { float:left; height:36px; background:url(../images/admin/tab.gif) no-repeat 0 0; padding:0 0 0 15px;}
#navigation ul li a span { background-position:right 0; padding:0 15px 0 0;}
#navigation ul li a { line-height:36px; color:#907525; text-decoration: none; }

#navigation ul li a.active,
#navigation ul li a:hover { background-position:0 bottom;}

#navigation ul li a.active span,
#navigation ul li a:hover span{ background-position:right bottom;}

#navigation ul li a.active { font-size:12px; font-weight: bold; color:#887e42; }
*/

#nav{
    list-style:none;
    font-weight:bold;
    margin-bottom:10px;
    /* Clear floats */
    width: 100%;
   /* Bring the nav above everything else--uncomment if needed.
    position:relative;
    z-index:5;
    */
}
#nav li{
    float:left;
    margin-right:1px;
    position:relative;
}
#nav a{
    display:block;
    padding:10px 10px 12px 10px;
    color:#fff;
    background: #efca4b;
    text-decoration:none;
    height: auto;

}
#nav a:hover{
    color:#fff;
    background:#fff2c4;
    text-decoration:underline;
}

/*--- DROPDOWN ---*/
#nav ul{
    background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style:none;
    position:absolute;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
#nav ul li{
    padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
    float:none;
}
#nav ul a{
    white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav li:hover ul{ /* Display the dropdown on hover */
    left:0; /* Bring back on-screen when needed */
}
#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    background:#fae497;
    text-decoration:underline;
}
#nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration:none;
}
#nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background:#d2bf7d;
}

#nav li:hover ul li:hover ul {
	top: 0px;
	left: 100px;
}

#nav li:hover ul li:hover ul {
	top: 20px;
	left: 85px;
	z-index: 100;
}

#container { padding:20px 0;}

.small-nav { color:#978b48; padding-bottom:20px; }
.small-nav a{ color:#6f6636; }


#main {}
#content { width:600px; }
#sidebar { float:right; width:225px; }


.table {}
.table th{ background:#fffdfa url(../images/admin/th.gif) repeat-x 0 0; color:#818181; text-align: left; padding:7px 10px; border-bottom:solid 1px #d2d1cb;}

.table tr.odd td{ background:#f8f8f8; font-family: ubuntu;}
.table tr:hover td{ background:#fff9e1; }
.table a.ico{ }

.box { background:#fbfcfc; height:100%; padding:1px; margin-bottom:20px; }
.box-head { background:#ba4c32; height:45px; color:#fff; padding: 0 10px; line-height:40px; white-space:nowrap; border-bottom:solid 1px #fff; }
.box-head .right{ padding-top:5px; line-height:13px;}
.box-head .right label,
.box-head .right input { float:left; }
.box-head .right label { padding:4px 0 0 0;}
.box-head .right input { margin-left:5px;}

.pagging { height:20px; padding:8px 10px; line-height:19px; color:#949494; }
.pagging a{ background:url(../images/admin/pagging.gif) repeat-x 0 0; height:20px; float:left; padding:0 8px; border:solid 1px #d5d5d5; text-decoration: none; color:#949494; margin-left:5px;  }
.pagging a:hover { border-color:#8c3521; background:#ba4c32; color:#fff; }
.pagging span{ float:left; margin-left:5px; padding-top:2px; }


a.ico { color:#9d9c9a; font-size:10px; text-decoration: none; padding:0 0 0 14px; background-repeat:no-repeat; background-position:0 0; }
a.ico:hover { color:#333;}
a.del { background-image:url(../images/admin/del.gif)}
a.edit { background-image:url(../images/admin/edit.gif); }
a.file { background-image:url(../images/admin/file.gif); margin-left:10px;padding-left: 18px;}
a.rating { background-image:url(../images/admin/rating.png); margin-left:6px;}
a.up { background-image:url(../images/guru-detail-up.png); margin-left:6px;}
a.down { background-image:url(../images/guru-detail-down.png); margin-left:6px;}
a.open { background-image:url(../images/admin/open.png); margin-left:6px;}


.form { padding:15px 10px 5px 10px; }
.form label{ display:block; font-weight: bold; font-size:13px; padding-bottom:4px; }
.form label span{ color:#999; font-weight: normal;}
.form .field { display:block; }
.form .inline-field .field { display:inline;}
.form .req { font-size:13px; float:right; white-space:nowrap; color:#999;  }
.form p{ padding-bottom:15px; }

.size1 { width:716px; }
.size2 { width:80px; }
.size3 { width:120px; }
.size4 { width:460px; }
textarea.size1 { height:180px; }

.buttons { text-align: right; padding:10px; background:#eee; border-top:solid 1px #e0e0e0; }
.buttons .button{ margin-left:3px; text-decoration: none;}

.box-content { padding:10px; }

.sort { border-top:solid 1px #e0e0e0; padding-top:10px; margin-top:15px;   }
.sort label{ display:block; font-weight: bold;}
.sort .field{ display:block; margin-top:5px; }
.sort select.field{ width:203px; }


.box-content p { padding-top:10px; }
.select-all{}
.select-all label{ text-decoration: underline; padding-left:4px; }

.add-button,
.add-button span { float:left; height:26px; background:url(../images/admin/add-button.gif) no-repeat 0 0; padding:0 0 0 28px; }
.add-button span { background-position:right 0; padding:0 10px 0 0; }
.add-button { font-weight: bold; font-size:12px; color:#747474; text-decoration: none; line-height:26px; }
.add-button:hover { color:#333;}


#footer { height:44px; background:url(../images/admin/footer.gif); line-height:44px; color:#fff;}
#footer a{ color:#fff; }


.msg { position:relative; padding-right:35px; margin-bottom:10px; }
.msg p{ padding:9px 10px 9px 40px; font-size:12px; background-repeat:no-repeat; background-position:10px 5px;}
.msg a.close{ font-size:0; line-height:0; position:absolute; top:0; right:0; width:34px; height:34px; background:url(../images/admin/close.gif); text-indent: -4000px;}

.msg-ok p{ background-color:#fffac2; border:solid 1px #dbd6a2; color:#5e5c40; background-image:url(../images/admin/msg-ok.gif); }
.msg-error p{ background-color:#f3c598; border:solid 1px #e8b084; color:#ba4c32; background-image:url(../images/admin/msg-error.gif);  }

/*** CSS3 ***/
.box { -moz-border-radius:5px; -webkit-border-radius:5px; -moz-box-shadow: 0 0 6px #978f6c; -webkit-box-shadow: 0 0 6px #978f6c;}
.box-head { -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px; -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; }

.field, .button { -moz-border-radius:4px; -webkit-border-radius:4px; }
.small-field, .button, .pagging a { -moz-border-radius:3px; -webkit-border-radius:3px; }

.msg p { -moz-border-radius:6px; -webkit-border-radius:6px; }

.button { -moz-box-shadow: 0 0 2px #978f6c; -webkit-box-shadow: 0 0 2px #978f6c;}

.boxwidth{
    width: 960px;
}

/** CUSTOM **/
.top_box_link:link,
.top_box_link:visited{
    color:#FFFFFF;
    text-decoration: none;
}

.top_box_link:hover{
    text-decoration: underline;
}

.small-nav a{
    margin-right: 5px;
}
.breadcumb_separator{
    margin-right: 5px;
}

a.column_edit:hover{
    text-decoration: underline;
}

.admin-designer-photo,
.admin-product-photo{
    max-width: 400px;
}

.center{
    text-align: center !important;
    float:center;
}
.bold{
    font-weight: bold;
}



.form .checkbox:first-child{
    margin-left: 0px;
}

.form .checkbox{
    margin-left: 30px;
}

.ok{color:#008000 !important;}
.no{color:#ba4c32 !important;}

.badge {
  line-height: 16px;
  height: 16px;
  padding: 0 5px;
  font-family: Arial, sans-serif;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  border: 1px solid;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
}

.badge {
  background: #67c1ef;
  border-color: #30aae9;
  background-image: -webkit-linear-gradient(top, #acddf6, #67c1ef);
  background-image: -moz-linear-gradient(top, #acddf6, #67c1ef);
  background-image: -o-linear-gradient(top, #acddf6, #67c1ef);
  background-image: linear-gradient(to bottom, #acddf6, #67c1ef);
}

.badge.green {
  background: #77cc51;
  border-color: #59ad33;
  background-image: -webkit-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: -moz-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: -o-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: linear-gradient(to bottom, #a5dd8c, #77cc51);
}

.nounderline{
 text-decoration: none !important;
}

.kelas-online .action {
  width: 200px;
}

.kelas-online .action .icon-button {
  border-radius: 10px;
  height: 30px;
  padding: 1px 2px 1px 2px;
  text-align: center;
  width: 80px;
  text-decoration: none;
}

.kelas-online .ok.icon-button {
  border: #008000 2px solid;
  color: #008000;
}

.kelas-online .no.icon-button {
  border: #ba4c32 2px solid;
  color: #ba4c32;
}

.kelas-online .action a.ok:hover{
  color: #fff !important;
  background-color: #008000;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.kelas-online .action a.no:hover{
  color: #fff !important;
  background-color: #ba4c32;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}