@font-face { 
  font-family: Ubuntu; 
  src: url('../fonts/Ubuntu-R.ttf'); 
}
body {
  font-family: Ubuntu;
  line-height: 1.6;
  padding-top: 90px;
}
body.have-bar {
  padding-top: 150px;
}
.right {
  float: right;
}
.left {
  float: left;
}
@media only screen and (min-width: 1024px) {
  .container {
    width: 970px;
  }
  .container.normal {
    width: 1170px;
  }
}
.form-control {
  border: 1px solid #fff;
  border-radius: 0;
  padding: 5px;
}
.filter-select {
  margin-right: 10px;
}
.navbar-default {
  background-color: #fff;
  border-bottom: 3px solid #fcb33b;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);  
}
.navbar-brand {
  height: auto;
}
.nav.navbar-nav {
  margin: 20px 0 0 0px;
}
.navbar.navbar-default .navbar-nav a {
  /*font-family: Roboto Condensed Bold; */
  background: none repeat scroll 0 0 transparent;
  color: #3bc4e6;
  font-size: 15px;
}
.navbar-default .navbar-nav .active a, 
.navbar-default .navbar-nav .active a:hover, 
.navbar-default .navbar-nav li a:hover, 
.navbar-default .navbar-nav .active a:focus {
  background-color: transparent;
  border-bottom: 3px solid;
  color: #3bc4e6;
}
.navbar-right .dropdown,
.navbar.navbar-default .navbar-nav .sign-out {
  margin-left: 15px;
  margin-top: 5px;
}
.navbar-right .register .dropdown-menu {
  left: 0;
}
.navbar.navbar-default .navbar-nav .dropdown .dropdown-toggle,
.navbar.navbar-default .navbar-nav .sign-out a{
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  padding: 10px 15px;
}
.navbar.navbar-default .navbar-nav .sign-in .dropdown-toggle {
  background: none repeat scroll 0 0 #3bc4e6;
}
.navbar.navbar-default .navbar-nav .register .dropdown-toggle,
.navbar.navbar-default .navbar-nav .sign-out a {
  background: none repeat scroll 0 0 #fcb33b;
}
.navbar.navbar-default .navbar-nav .user-login .name {
  color: #fcb33b;
  padding: 0;
}
.navbar.navbar-default .navbar-nav .user-login {
  text-align: right;
}
.navbar-nav .phone {
    color: #767676 !important;
    font-size: 15px;
    font-weight: bold;
    padding: 13px 12px;
}
ul.dropdown-menu {
  padding: 0;
  z-index: 1001;
}
ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;    
}
.navbar.navbar-default .dropdown-menu a {
  font-size: 16px;
  margin-bottom: 0;
  padding: 5px 15px;
}
.navbar.navbar-default .dropdown-menu a {
  color: #000;
}
.navbar.navbar-default .dropdown-menu a:hover {
  background-color: #F5F5F5;
  text-decoration: none;
  border: none;
  color: #000;
}
.below-nav {
  background-color: #fcb33b;
  box-shadow: 0 2px 5px #999;
  height: 60px;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.list-orange {
  display: block;
  visibility: visible;
}
.nav.nav-pills {
  float: left;
  width: 79%;
}
.sort.nav {
  float: right;
  width: 21%;
}
.sort-list {
  float: left;
}
.nav .title-filter {
  padding-top: 2px;
}
.title-filter {
  font-size: 16px;
  padding: 5px 10px;
}
.profile-menu .btn {
  padding: 5px;
  margin: 0;
  
}

/* Notifikasi */
.notification:not(.on) {
  display: none;
}
.notification.on {
  display: block;
}
.notification {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  vertical-align: middle;
  z-index: 1800;
}
.notification.large {
  height: 64px !important;
}
.notification > div {
  width: 100%;
  height: 100%;
  padding-top: 10px;
}
.notification > div > div:not(.visible-xs-block) {
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 10px;
  padding-right: 10px;
}
.notification > .warning {
  background-color: rgba(250,250,100,0.85);
  color: #996600;
}
.notification > .error {
  background-color: rgba(250,0,0,0.7);
  color: #FFFFFF;
}
.notification > .notice {
  background-color: rgba(180,220,180,0.7);
  color: darkgreen;
}
.close-notif {
  cursor: pointer;
}


/*content style*/
.content {
  padding-top: 20px;
  padding-bottom: 20px;
}
.block-title-wrap {
  margin-bottom: 30px;
}
.block-title-gallery {
  border-bottom: 2px solid;
  color: #fcb33b;
  font-size: 26px;
  font-weight: bold;
  /*margin-left: 33px;*/
  margin-top: -5px;
  padding-bottom: 10px;
}
.content-grid {
  box-shadow: 0 2px 5px #999;
  margin-bottom: 30px;
  min-height: 320px;
  position: relative;
}
.grid-top {
  background-size: cover;
  height: 200px;
  position: relative;
  background-image: url('../images/image_300x300.gif');
  margin-top: 20px;
}
.diskon-label {
  background-color: #e11667;
  border-radius: 100%;
  color: #fff;
  height: 65px;
  padding-top: 6px;
  position: absolute;
  right: 20px;
  text-align: center;
  top: 20px;
  width: 65px;
  z-index: 1;
}
.diskon-label:after {
  background-color: #e11667;
  border-bottom-right-radius: 100%;
  bottom: -14px;
  content: "";
  height: 40px;
  position: absolute;
  right: 0;
  width: 41px;
  z-index: -1;
}
.have-bar .diskon-label {
  height: 45px;
  padding-top: 3px;
  right: -20px;
  top: 0;
  width: 45px;
}
.have-bar .diskon-label:after {
  bottom: -10px;
  height: 27px;
  right: 0;
  width: 20px;
}
.diskon-label h3,
.diskon-label h5 {
  margin: 0;
  font-weight: bold;
}
.grid-title-wrap {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  padding: 10px 15px;
  position: absolute;
}
.grid-title {
  color: #fff;
  font-size: 18px;
  margin: 0;
}
.grid-bottom {
  position: relative;
  line-height: 1.0;
}
.grid-bottom .icon {
  color: #3bc4e6;
  margin-right: 5px;
}

.block-title {
  color: #fcb33b;
  font-weight: 800;
}
.price {
  background-color: #000;
  color: #fcb33b;
  display: inline-block;
  font-size: 14px;
  padding: 10px 15px;
  width: 100%;
}
.details {
  background-color: #fcb33b;
  border-radius: 0;
  color: #fff;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
}
.date a {
  color: #e11667;
}
.review .tag {
  text-decoration: underline;
}
.description {
  border-bottom: 1px solid #ddd;
  height: 77px;
  padding: 10px 15px;
  line-height: 1;
  font-size: 13px;
  text-align: justify;
}
.icon {
  float: left;
}
.date {
  display: inline-block;
  width: 90%;
}
.grid-bottom .nama-guru {
  display: inline-block;
  padding: 10px 15px;
  width: 100%;
}
.rating-top {
  float: right;
  text-align: right;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 5px 15px;
  color: #3bc4e6;
}
.rating-right {
  float: right;
  text-align: right;
  line-height: 1.0;
}
.rating .blue {
  color: #3bc4e6;
}
.rating-info i {
  margin-right: 3px;
}
.rating-info b {
  color: #e11667;
  font-weight: normal;
}
.main-button {
  background-color: #fcb33b;
  border-radius: 5px;
  color: #fff;
  margin-left: 212px;
  border: none;
  /* height: 30px; */
  text-align: center;
  /* padding: 6px; */
  font-size: 14px;
}
.main-button-login {
  background-color: #fcb33b;
  border-radius: 5px;
  color: #fff;
  margin-left: 350px;
  border: none;
  height: 30px;
  text-align: center;
  padding: 6px;
  font-size: 18px;
}
.main-button:hover {
  background: #E39E1F !important;
  color: #fff !important;
}
.main-button.submit {
  margin-left: 500px;
}
.btn-default-blue {
  background-color: #34B9D8 !important;
  color: #fff;
  margin: 5px;
}
.btn-default-blue:hover {
  background-color: #02bfec !important;
  color: #FFF;
}
.right>div {
  float: right;
}

/*related class*/
.related {
  background-color: #eee;
  margin-top: 50px;
  padding: 20px 0 50px;
}
/*Footer style*/
.footer {
  background: none repeat scroll 0 0 #000;
   color: #fff;
   font-size: 12px;
   padding: 30px 0;*/
   
    
}



.footer-label {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px;

}
/*
.footer .col-sm-4 {
  margin-bottom: 50px;
}
*/
#socmed-icon img {
  margin: 0 5px;
}
.text-12 a {
  color: inherit;
}
.footer-link {
  margin-bottom: 10px;
}
.footer-link a {
  color: inherit;
}
.footer-about-detail {
  margin-bottom: 10px;
}
#footer-addr p {
  margin: 0;
}
.below-footer {
  background-color: #929497;
  padding: 50px 0;
}
.list-unstyled {
  list-style: outside none none;
  padding-left: 0;
}
#seo-footer > li {
  float: left;
  width: 20%;
}
#seo-footer > li > ul {
  line-height: 1.2;
  list-style: outside none none;
}
#seo-footer li a {
  color: #fff;
  font-size: 12px;
}
#seo-footer li .head {
  border-bottom: 0 none;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 5px;
}


/*detail page*/
.entry-title {
  color: #444;
  margin-bottom: 15px;
}
.add-info {
  border-bottom: 1px solid #fcb33b;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.info-label {
  color: #fcb33b;
}
.info-label a {
  color: #333;
  text-decoration: underline;
  text-transform: none;
}
.hero-detail {
  overflow: hidden;
  position: relative;
}
.img-wrap {
  margin-bottom: 30px;
}
.tab-pane h3 a {
  color: #333;
  font-size: 18px;
}
.nav-tabs {
  border-bottom: 1px solid #fcb33b;
}
.nav-tabs li a {
  font-size: 18px;
  background-color: #fefefe;
  border-color: #fcb33b #fcb33b #ddd;
  border-radius: 2px 2px 0 0;
  color: #fcb33b;
}
.nav-tabs li.active a, 
.nav-tabs li.active a:hover, 
.nav-tabs li a:hover, 
.nav-tabs li.active a:focus {
  background-color: #fcb33b;
  border-color: #fcb33b #fcb33b transparent;
  color: #fff;
  outline: none;
}
.tab-content {
  border-color: #fcb33b;
  border-style: solid;
  border-width: 0 1px 1px;
  padding: 15px;
  position: relative;
  width: 100%;
}
.social-wrap {
  padding: 14px;
  position: absolute;
  right: 0;
  top: 0;
}
.social-wrap span {
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  height: 30px;
  margin: 0 5px;
  padding: 2px 0;
  text-align: center;
  width: 30px;
}
.facebook {
  background-color: #3b5998;
}
.twitter {
  background-color: #00aced;
}
.title-class {
  
}
.title-class .fa {
  font-size: 18px;
  margin-right: 10px;
  vertical-align: text-bottom;
}
.title-label {
  border-bottom: 1px solid;
  color: #fcb33b;
  display: inline-block;
  /*font-family: roboto condensed bold;*/
  font-size: 16px;
  margin-top: 10px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.special .title-label, 
.special i {
  color: #e43;
}
.galery-wrap {
  display: inline-block;
  margin: 10px -10px;
  width: 100%;
}
.galery-wrap a {
  float: left;
  padding: 0 10px;
  width: 25%;
}
.main-button.register{
  display: table;
  width: 200px;
}
.main-button .fa {
  margin-right: 5px;
}

#jadwal .table-responsive {
  margin-top: 50px;
}
td i {
  margin-right: 5px;
}
thead {
  /*font-family: Roboto Bold;*/
  text-transform: uppercase;
}
.table caption + thead tr:first-child th, 
.table colgroup + thead tr:first-child th, 
.table thead:first-child tr:first-child th, 
.table caption + thead tr:first-child td, 
.table colgroup + thead tr:first-child td, 
.table thead:first-child tr:first-child td {
  background-color: #eee;
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
}

.review-wrap,
.detail-kelas {
  border: 1px solid #fcb33b;
  display: inline-block;
  margin: 30px 0;
  padding: 15px;
  width: 100%;
}
.review-item {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}
.review-wrap .testimonial-wrap {
  width: 100%;
}
/*.review-title,
.feedback-title {
  border-bottom: 2px solid #fcb33b;
  color: #fcb33b;
  padding-bottom: 5px;
}*/
.rating-wrap .rate {
  float: left;
  margin-right: 10px;
}
.testimonial-item {
  display: inline-block;
  margin: 15px 0;
  width: 100%;
}
.icon-wrap {
  float: left;
  margin-right: 20px;
  width: 50px;
}
.testimonial-item .username {
  color: #e11447;
  font-weight: bold;
  margin-top: 0;
}
.username strong {
  color: #333;
}
.testimonial-wrap .pagination {
  margin-bottom: 0;
}
.related-wrap .block-title {
  border-bottom: 1px solid;
  color: #fcb33b;
  font-size: 24px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.price-big-wrap:before {
  background-color: #fcb33b;
  content: "";
  height: 42px;
  left: -19px;
  position: absolute;
  top: 9px;
  transform: rotate(45deg);
  width: 43px;
  z-index: -1;
}
.detail-label.label-yellow {
  background-color: #fcb33b;
}
.detail-label.label-blue {
  background-color: #3bc4e6 !important;
}
.panel-default .panel-heading {
  background-color: #fcb33b;
  color: #fff;
}
.panel-default {
  border-color: #fcb33b;
  border-radius: 5px;
}
.panel-default .panel-heading {
  border-radius: 0px;
  color: #3a3a3a;
  height: 50px;
  font-size: 20px;
  margin: 0;
  display: block;
} 

.panel-default .panel-heading-feedback {
  border-radius: 5px;
  background-color: #fcb33b;
  color: #fff;
  height: 60px;
  /*font-family: Roboto Bold;*/
  font-size: 20px;
  padding:12px;
  position: relative;
}

.panel-default .panel-tanggapan {
  background-color: #fff;
  font-size: 15px;
  color: #3a3a3a;
  padding: 8px;
  position: relative;
}

.panel-default .panel-feedback {
  background-color: #f8f5fd;
  font-size: 15px;
  color: #3a3a3a;
  padding: 8px;
  position: relative;
}

.panel-default .isi-tanggapan {
  text-align:justify;
}

.panel-body {
  padding: 20px;
  background-color: #fff;
}

.panel-body .panel-body-feedback {
  background-color: #fff;
  border-color: #f8f5fd;
}

.panel-body .feedback-package {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  }

.detail-label {
  border-radius: 5px;
  margin-bottom: 20px;
  height: 60px;
  padding: 15px;
  position: relative;
}
.daftar-label.label-yellow {
  background-color: #fcb33b;
  border-radius: 5px;
  display: inline-block;
  margin: 0 0 30px;
  padding: 10px;
  width: 70%;
}
.label-icon.label-yellow {
  background-color: #e11447;
  border-radius: 100%;
  color: #000;
  display: inline-block;
  font-size: 26px;
  margin-left: 8%;
  padding: 2px;
  width: 47px;
}
.daftar-label i {
  color: #3a3a3a;
  margin-right: 5px;
}
.detail-label .fa, 
.heading-label .fa {
  color: #3a3a3a;
  font-size: 26px;
  left: 20px;
  margin-left: 0;
  position: absolute;
  top: 18px;
}
.entry-detail-label {
  color: #3a3a3a;
  font-size: 18px;
  margin: 0;
  padding-top: 10px;
}
.price-big-wrap .entry-detail-label {
  /*padding-left: 26px;*/
  text-align: center;
}
.daftar-label .entry-detail-label {
  display: inline-block;
}
.entry-detail-label s {
  font-size: 14px;
  margin-right: 10px;
  vertical-align: super;
}
.panel-body .fa {
  margin-right: 10px;
}
.panel-body a {
  display: inline-block;
  margin-top: 3px;
  margin-right: 60px;
  /*width: 100%;*/

}
.support a {
  color: #3a3a3a;
}
.table .bold {
  font-weight: bold;
}
.table.sesi td:nth-child(2) {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.table.sesi tr:first-child td {
  border-top: medium none;
}
.table.sesi tr:last-child td {
  border-bottom: medium none;
}
.sesi + a {
  color: #e11447;
  font-style: italic;
  margin-top: 0;
}
.support .fa {
  color: #3a3a3a;
  font-size: 24px;
  vertical-align: sub;
}
.logo-vendor {
  border-bottom: 1px solid #fcb33b;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.panel-body .more {
  /*font-family: Roboto Bold;*/
  text-decoration: underline;
  color: #fcb33b;
}

/*Register page*/
.form-group label {
  /*font-family: Roboto Bold;*/
}
.radio label {
  /*font-family: Roboto;*/
}
.tab-content .form-control,
.panel-body .form-control {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 6px 12px;
}
textarea.form-control {
  resize: vertical;
}
.jadwal-item {
  border-bottom: 3px solid #ddd;
  display: inline-block;
  margin: 15px 0 30px;
  padding-bottom: 15px;
  width: 100%;
}
.jadwal-wrap {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.jadwal-item .table tbody td {
  font-size: 12px;
}
.jadwal-title {
  /*font-family: Roboto Bold;*/
  font-size: 16px;
  margin: 5px 0;
}
a.remove {
  color: #f75252;
  margin: 0;
}
.sum-label {
  /*font-family: Roboto Bold;*/
}
.sum-price {
  /*font-family: Roboto;*/
}
.btn.btn-default.cek-button {
  background-color: #fcb33b;
  border-color: #fcb33b;
  border-radius: 5px;
  /*font-family: Roboto Bold;*/
}
.sum-total {
  /*font-family: Roboto Bold;*/
  margin-top: 40px;
}

/*tambah-kelas page*/
.nav li .button-nav-top {
  /*font-family: Roboto Bold;*/
  background-color: #eee;
  margin-right: 10px;
  padding: 5px 15px;
  border-radius: 5px;
  color: #3a3a3a;
}
.nav li .button-nav-top.active, 
.nav li .button-nav-top:hover, 
.nav li .button-nav-top:focus {
  background-color: #fcb33b;
  color: #fff;
  outline: none;
  text-decoration: none;
}
.kelas .panel-default {
  margin-top: 20px;
}
.submit-form .main-button {
  border-color: #fcb33b;
  display: inline-block;
}
.submit-form .btn.btn-default {
  margin-left: 5px;
  margin-right: 5px;
}
.cancel.btn-default {
  background-color: #ccc;
  border-color: #ccc;
  display: inline-block;
  margin: 30px auto 15px;
  border-radius: 5px;
  color: #333;
  /*font-family: Roboto Condensed Bold;*/
  font-size: 16px;
  padding: 10px;
  text-transform: uppercase;
  width: 200px;
}

/* bagian tab-content detail kelas */

.detail-kelas .tab-content {

}

/* end detail kelas */

/* Bagian tab materi */

.tab-materi .panel-group .panel-default .panel-heading .panel-title{
  color:white;
}

.panel-orange {
  padding-right: 5px;
  padding-left: 5px;
  border-right-width : 1px;
  border-bottom-width: 1px;
  border-color: #fcb33b;
}

.tab-panemateri .judul-topik{
  color:white;
  display: -webkit-box;
  margin: 0;
  background-color: #fcb33b;
}

.tab-panemateri .panel-body a {
  width: 100%;
}

.btn-topik{
  float:right;
}

.btn-delete-topik{
  float:right;
  border-radius: 5px #fcb33b;
  background-color: white;
  padding-left: 20px;
  color:blue;

}

.form-topik{
  float:right;
}

/* end bagian Tab Materi */ 

/* Bagian akses materi */
.heading-materi{
  
  
}

.bredcrumbs ul li {
  text-decoration: none;
  display: inline;  
  list-style-type: none;
  font-weight: 600;
 font-family: Roboto Condensed bold;
 font-size: 16px;
}


.bredcrumbs ul li a {
  color: #fcb33b;
}


.content-video{
  width: 100%;
}

.panel.panel-content{
  padding: 0;
}

.space-video{
  width: 100%;
}

.space-pdf{
width: 100%;

}

.pdfviewer{
  width: 100%;
  height:450px;
}
.videoplayer{
  width: 100%;
  height:auto;
}
.group-materi{
padding-top: 20px;
text-align: center;
}

.group-materi .list-group a{
  text-decoration: none;
  color:#fcb33b;;

}

.panel-orange .hapus-topik{
  text-decoration: none;
  color:grey;
  padding-top: 14px;

} 






/* end akses materi */

/*kelas-anda*/
.kelas .tab-content {
  border: medium none;
  padding: 20px 0;
}
.kelas .nav-tabs {
  border: medium none;
}
.sub-content .nav-tabs li a {
  background-color: #fefefe;
  border-color: #fcb33b;
  border-radius: 0;
  border-width: 1px;
  color: #333;
}
.kelas .nav-tabs li.active a, 
.kelas .nav-tabs li.active a:hover, 
.kelas .nav-tabs li a:hover, 
.kelas .nav-tabs li.active a:focus {
  background-color: #fcb33b;
  border-color: #fcb33b #fcb33b transparent;
  color: #fff;
  outline: medium none;

}
.sub-content .tab-content {
  box-shadow: none !important;
}
.kelas #published td {
  color: #333;
}
.kelas table .label {
  color: #3a3a3a;
  font-size: 14px;
}
.kelas table td a {
  margin: 0;
  text-align: center;
}
.kelas table td .main-button {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
}

/*Tambahan untuk sub content*/

.sub-content td {
  text-align: center;
}

.sub-content td.nama {
  text-align: left;
}

.sub-content .icon-circle {
  border-radius: 100%;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  color: #fff;
  display: inline-block;
  height: 30px;
  padding-top: 5px;
  text-align: center;
  width: 30px;
} 
.sub-content a.approve:hover {
  color: #fff;
  background-color: #fcb33b;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.sub-content a.cancel:hover{
  color: #fff;
  background-color: #ee4035;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.sub-content .admin-circle {
  border-radius: 100%;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  color: #fff;
  background: url("../images/rg-circle-icon.png") no-repeat;
  background-position: center;
  background-size: 50px 50px;
  display: inline-block;
  height: 55px;
  padding: 12px;
  text-align: center;
  width: 55px;
  margin-right: 15px;
} 

.sub-content .guru-circle {
  border-radius: 100%;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  color: #fff;
  background: url("../images/user.png") no-repeat #fcb33b;
  background-position: center;
  background-size: 50px 50px;
  display: inline-block;
  height: 53px;
  padding: 12px;
  text-align: center;
  width: 53px;
  border: 2px #fcb33b solid;
  margin-left: 15px;
} 

.icon-button {
  border-radius: 20px;
  display: inlin28block;
  padding: 5px;
  text-align: center;
  width: 115px;
  float:right;
}
.sub-content .status {
  width: 115px;
  text-align: center;
  line-height: 0.5;
}

.sub-content .statusid {
  width: 50px;
  text-align: center;
} 

.sub-content .statusdetil {
  width: 60px;
  text-align: center;
} 

.sub-content .status_action {
  width: 120px;
  text-align: center;
}

.sub-content .status .icon-circle {
  margin-bottom: 10px;
  margin-left: 5px;
}
.manage.icon-circle,
.unpublish.icon-circle,
.publish.icon-circle {
  background-color: #fcb33b;
}
.link.icon-circle {
  background-color: #3bc4e6;
}
.approve.icon-button {
  border: #fcb33b 2px solid;
  color: #fcb33b;
  margin-right: 10%;
}
.approved.icon-circle {
  background-color: #fcb336;
}
.pending.icon-circle {
  background-color: #95a5a6;
}
.cancel.icon-circle {
  background-color: #ef4135;
}
.cancel.icon-button {
  border: #ef4135 2px solid;
  color: #ef4135;
}
.sub-content .icon-circle i {
  margin-right: 0;
}
#class-notes a {
  display: inline;
  margin: 0;
}
.bootstrap-tagsinput {
  width: 100%;
}
/*end sub-content added*/

/* tab-detil-kelas */

#detil .tag {
  border-bottom: 1px #fcb33b solid;
  margin: 1px;
}

/* end tab-detil-kelas */

/*partisipan*/
.rating {
  float: right;
  text-align: right;
  line-height: 1.0;
  font-size: 18px;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  width: 100%;
  padding: 5px 15px;
  color: #3bc4e6;
}
.photo {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px 0px;
}
.regis{
  float:right ;
  color :orange;
  font-family: ubuntu;
  font-weight: bold;
  font-size: 16px;
}
.pinkfont{
  color:rgb(225, 0, 101);
  font-weight: bold;
}
.text{
  margin-left: 12px;
}
.text-12, .text-12 * {
  font-size: 12px !important;
}
.text-14, .text-14 * {
  font-size: 14px !important;
}
.text-16, .text-16 * {
  font-size: 16px !important;
}
.text-18, .text-18 * {
  font-size: 18px !important;
}
.text-20, .text-20 * {
  font-size: 20px !important;
}
.bluefont{
color: blue;
font-weight: bold;
}
.btn-orange, .btn-orange2 {
  background-color: rgb(252, 166, 10);
  width: 100%;
  margin-bottom: 15px;
}
.btn-orange {
  background-color: #fcb33b;
  color: #fff !important;
}
.btn-orange:hover{
  background: #E39E1F !important;
}
.grey {
  color:black;
  font-family: ubuntu;
  font-weight: bold;
  width: 100%;
  background-color: rgba(200,200,200,0.9);
  margin-bottom: -41px;
  border-radius: 22px;
  height: 45px;
  z-index: 2000;
  top: -60px;
  position: relative;
}
.payment-howto {
  padding: 5px 2px;
}
.content-segment {
  width: 100%;
  height: auto;
  padding: 15px;
}
.btn-payment2{
  background-color: #fff;
  width:100%;
  text-align:center;
  border-top-color: rgb(221, 221, 221);
  border-top-style: solid;
  border-top-width: 1px;
  padding: 6px 8px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
  margin-left: 0px;
}
.btn-payment2.active {
  background-color: rgb(225, 0, 101);
  color: #fafafa;
}
.btn-payment:hover, .btn-payment.active, .btn-payment2:hover, .btn-payment2.active {
  background-color: rgb(225, 0, 101);
  color: #fafafa;
}
.cancel.icon-button{
    padding-right: 10px;
    padding-top: 4px;
    padding-left: 10px;
    border-top-width: 2px;
}
.status{
    border-top-width: 1px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 20px;
    width: 110px;
    height: 41px;
}
.matkul{
  text-align: left;
  font-weight: lighter;
}
.nama{
  font-weight: bold;
  font-size: 14px;
}
.panel-default .panel-heading {
  color: #fff;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn-blue, .btn-orange, .btn-payment, .btn-payment2 {
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
}
.review-title,
.feedback-title {
  border-bottom: 2px solid #fcb33b;
  color: #fcb33b;
  padding-bottom: 5px;
}
.panel-partisipan{
  background-color: #FOF8FF;
  font-size: 15px;
  color: #8B1000;
  padding: 8px;
  margin-top: 0px;
  border: 1px orange solid;
  border-top: 0px;
}
.payment-howto:first-child {
  padding-right: 2px !important;
}
.payment-howto {
  padding: 5px 2px;
}
.main-button.register {
  display: table;
  color: white;
  margin-left: 36px;
  padding-top: 0px;
  padding-bottom: 7px;
  padding-right: 8px;
  padding-left: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.main-button.register2 {
  display: table;
  width: 116px;
  float:right;
  color:white;
  margin-right: 9%;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 8px;
  padding-left: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.main-button.register3{
  display: table;
  float:right ;
  color:white;
  width: 110px;
  margin-top: 0px;
  padding-top: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 8px;
  padding-left: 8px;
}
.actived-partisipan {
  margin: 0px 0px -50px 60px;
}
.actived-partisipan .img-circle {
  height: 55px;
  width: 55px;
  position: relative;
  left: -70px;
  border: 2px #fcb33b solid;
  top: -60px;
}
.actived-partisipan .nama {
  text-align: center;
  background-color: #fcb33b;
  opacity:100%;
  height: 30px;
  width:240px;
  /*display: inline-block;*/
  border-radius: 15px;
  padding: 4px;
  position: relative;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  color: #fff;
  margin-left:-40px; 
  margin-bottom: 20px;
}
/*end partisipan*/

/*profile*/
.sidebar .nav li {
  margin: 0;
  width: 100%;
}
.sidebar .nav-tabs a {
  margin: 0;
}
.sidebar {
  box-shadow: 0 2px 5px #999;
  padding-right: 13px;
}
.profile-image-wrap {
  padding: 20px;
  position: relative;
}
.profile-image-wrap a {
  border: 1px solid;
  border-radius: 5px;
  color: #fff;
  height: 30px;
  padding-top: 2px;
  position: absolute;
  right: 30px;
  text-align: center;
  top: 30px;
  width: 30px;
}
.profile-name {
  font-size: 18px;
  margin: 0 0 20px;
}
.sidebar .progress {
  margin: 0 20px 20px;
}
.sidebar .nav-tabs {
  border-bottom: medium none;
}
.sidebar .nav-tabs li a {
  background-color: #fefefe;
  border-color: #ddd;
  border-radius: 2px 2px 0 0;
  border-width: 1px 0 0;
  color: #aaa;
  font-size: 16px;
  padding: 10px 15px;
}
.sidebar .nav-tabs li.active a, 
.sidebar .nav-tabs li.active a:hover, 
.sidebar .nav-tabs li a:hover, 
.sidebar .nav-tabs li.active a:focus {
  background-color: #fcb33b;
  border-color: #ddd;
  border-width: 1px 0 0;
  color: #fff;
  outline: medium none;
}
.sidebar li a:hover:after,
.sidebar li a:focus:after,
.sidebar .active a:after {
  background-color: #fcb33b;
  bottom: 0;
  content: "";
  height: 20px;
  margin: auto;
  position: absolute;
  right: -10px;
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 20px;
}
.sidebar li i {
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  margin-right: 10px;
  padding-top: 5px;
  text-align: center;
  vertical-align: sub;
  width: 25px;
}.sidebar li .fa-male {
  padding-top: 2px;
  vertical-align: text-top;
}
.sidebar li .fa-users {
  font-size: 14px;
  vertical-align: text-top;
}
.sidebar li .fa-plus {
  padding-top: 3px;
  vertical-align: text-top;
}
.vendor .tab-content,
.vendor .panel.panel-default {
  border: medium none;
  box-shadow: 0 2px 5px #999;
  margin: 0 0 30px;
  padding: 15px;
}
.vendor .panel-body {
 /* padding: 0;*/
}
.vendor .block-title {
  border-bottom: 2px solid;
  color: #fcb33b;
  font-size: 26px;
  margin-left: 33px;
  margin-top: -5px;
  padding-bottom: 10px;
}
#profil .review-title {
  margin: 40px auto;
}
#reponsible .review-title {
  margin-bottom: 40px;
}
#reponsible .info {
  color: #333;
  display: inline-block;
  /*font-family: Roboto;*/
  font-size: 13px;
  font-style: italic;
  vertical-align: middle;
}
.kelas .nav.nav-tabs {
  margin-bottom: 10px;
    margin-left: 14px;
}

/*Galeri kelas */
.list-kelas .section-kelas h3{
color:white;
font-family: Ubuntu;
font-size: 18px;
text-decoration: none;
}

.list-kelas .section-heading{
  padding:5px 5px;
  text-align: center;
  border-radius: 5px;
  background-color: #fcb33b;
  text-decoration: none;
  margin-left: 33px;
  width: 100%;
}


/*manage page*/
.section-heading {
  background-color: #fcb33b;
  padding: 10px 20px;
}
.section-title {
  color: #3a3a3a;
  /*font-family: Roboto Condensed Bold;*/
  font-size: 20px;
  margin: 0;
}
.section-row {
  border-bottom: 1px solid #ddd;
  display: inline-block;
  padding: 15px;
  width: 100%;
}
.section-row:last-child {
  border: medium none;
}
.section-content.table {
  padding: 30px 20px;
}
.radio.diskon label {
  margin-right: 30px;
}
.form-horizontal .form-inline .form-group {
  margin: 15px 0;
  vertical-align: middle;
  width: 100%;
}
.radio.jumlah input[type="number"] {
  margin: 0 10px;
}
.review-title .info {
  color: #333;
  float: right;
  font-size: 14px;
}
#diskon .section-heading {
  margin: 20px 0;
}
#profile .section-heading {
  margin: 20px 0;
}
#profile table input {
  display: inline-block;
  width: 100px;
}
#profile em + input {
  width: 200px;
}
#profile em {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 10px;
}

/*vendor page*/
.panel.panel-default.panel-big.panel-yellow {
  border-color: #fcb33b;
}
.panel-heading.heading-label.heading-yellow {
  background-color: #fcb33b;
}
.log-reg .main-button.register,
.log-reg .cancel.btn-default {
  display: inline-block;
  width: 90px;
  padding-top: 5px;
}

/*landing page*/
.hero-landing {
  background: url("../images/hero.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.hero-landing .content {
  padding: 207px 150px 70px;
}
.landing .content .btn {
  margin: 0 5px 0 0;
}   
.partner-list {
  background-color: #f6f6f6;
  padding: 30px 0;
}
.partner-list .item-list {
  height: 54px;
  position: relative;
}
.item-list img {
  bottom: 0;
  margin: auto;
  position: absolute;
  top: 0;
}
.landing-title {
  color: #fcb33b;
  margin-bottom: 40px;
}
.landing .media {
  margin-bottom: 30px;
}
.landing .media-left {
  padding-right: 25px;
}
.landing .media-body,
.landing .footnote {
  line-height: 1.3;
}
.landing .media-heading {
  color: #fcb33b;
  font-size: 16px;
  font-weight: 700;
}
.landing .footnote {
  margin-top: 10px;
}
.footnote a {
  color: #fcb33b;
}
.testimonial {
  background-color: #f6f6f6;
  padding: 40px 0;
}
.testimonial-wrap {
  margin: auto;
  width: 80%;
}
.testimoni-title,
.thumbnail .caption h3,
.thumbnail .caption a {
  color: #fcb33b;
}
.testimonial-wrap .content {
  color: #939598;
  font-style: italic;
  font-size: 16px;
}
.testimonier {
  color: #939598;
  font-weight: 700;
}
.landing .how {
  padding: 0;
}
.landing .thumbnail {
  border: medium none;
  margin: 40px 0;
  padding: 0;
}
.landing .thumbnail img {
  margin-left: 45px;
}
.landing-subtitle {
  width: 70%;
  margin: auto;
  color: #939598;
}
.thumbnail .caption {
  color: #333;
  font-size: 12px;
  padding: 9px 0;
}
.landing .thumbnail .caption h3 {
  font-size: 16px;
  font-weight: 700;
}
.landing-label {
  background-color: #9da240;
  color: #fff;
  padding: 25px 0;
}
.label-content {
  display: inline-block;
  width: auto;
  font-size: 16px;
}
.landing-label .btn-blue {
  background-color: #fcb33b;
  color: #fff;
  margin-left: 20px;
}
.landing-form {
  background-color: #f6f6f6;
  padding-top: 20px;
}
.landing-form-wrap {
  background-color: #fff;
  float: none;
  margin: 0 auto 50px;
  padding: 20px 30px;
}
.landing-form-wrap h3 {
  margin-bottom: 30px;
}
.landing-form .form-control {
  border: 1px solid #ddd;
  border-radius: 4px;
} 

@media (min-width: 1080px) {
  .navbar > .container {
    width: 1080px;
  }
}

@media (max-width: 1023px) {
  body {
    padding-top: 152px;
  }
	body.have-bar {
	  padding-top: 260px;
	}
	.nav.navbar-nav.navbar-left {
	  bottom: 0;
	  padding-bottom: 10px;
	  position: absolute;
	}
	.navbar-default {
	  padding: 0;
	}
	.below-nav {
	  margin-top: 60px;
	  height: auto;
	}
	.navbar-right .register .dropdown-menu {
	  left: auto;
	}
	.nav-pills .pull-right {
	  float: left !important;
	}
	.sort.nav {
	  float: left;
	  margin-top: 10px;
	  width: 100%;
	}
	.nav.nav-pills {
	  width: 100%;
	}
	.grid-title-wrap,
	.price,
	.description,
	.review {
	  padding: 10px;
	}
	/*.rating {
	  font-size: 15px;
    padding: 0 10px 0 10px;
  }*/
  
  /*detail*/
  .price-big-wrap:before {
    background-color: transparent;
  }
  
  /*manage*/
  .section-row img {
    width: 100%;
  }
  
  /*vendor*/
  .log-reg .main-button.register, 
  .log-reg .cancel.btn-default {
    display: inline-block;
    margin: 10px 0;
    width: 100%;
  }

  /*landing*/
  .hero-landing {
    background: url("../images/hero.jpg") no-repeat scroll -220px center / cover  rgba(0, 0, 0, 0);
    height: 280px;
  }
  .hero-landing .content {
    padding: 180px 30px 0;
  }
  .landing .how {
    padding: 0 15px;
  }
  .landing .thumbnail {
    margin: 40px 30px;
  }
  .landing .thumbnail img {
    margin-left: 75px;
  }
  .landing .footnote {
    text-align: center;
  }

  /*kelas*/
  .profile-image-wrap {
    float: left;
    width: 37%;
  }
  .profile-name {
    padding: 20px 0 0;
    text-align: left;
    width: auto;
  }
}
@media (max-width: 640px) {
	body,
  body.have-bar {
	  padding-top: 142px;
	}
	.navbar-brand {
	  height: auto;
	  width: 100%;
	}
  .user-login {
    margin: 10px 15px 20px;
    text-align: right;
  }
	.navbar-brand.visible-xs img {
	  margin: auto;
	}
	.navbar-collapse.collapse, .navbar-collapse.collapsing {
	  background-color: rgba(251, 251, 251, 0.9);
	  height: 100%;
	  position: fixed;
	  right: -100%;
	  top: 0;
	  width: 80%;
	  z-index: 10000;
	  max-height: 100%;
	  -webkit-transition: ease 0.5s;
	  -o-transition: ease 0.5s;
	  transition: ease 0.5s;
	}
	.list-orange.collapse, 
	.list-orange.collapsing {
	  background-color: rgba(252,179,59, 0.9);
	  position: fixed;
	  height: 100%;
	  width: 80%;
	  z-index: 10000;
	  top: 0;
	  left: -100%;
	  -webkit-transition: ease 0.5s;
	  -o-transition: ease 0.5s;
	  transition: ease 0.5s;
	}
	.navbar-collapse.collapse.in {
	  right: 0;
	}
	.filter-toggle {
	  background-color: transparent;
	  border: 1px solid #333;
	  border-radius: 4px;
	  float: left;
	  margin: 8px 15px;
	  padding: 7px 10px;
	}
	.navbar-default .navbar-toggle {
	  /*border-color: #fcb33b;*/
	}
	.list-orange.collapse.in {
	  left: 0;
	}
	.nav.navbar-nav.navbar-left {
	  margin: 0;
	  padding-bottom: 10px;
	  position: relative;
	}
	ul.nav li.dropdown:hover ul.dropdown-menu {
	  background-color: transparent;
	  border: 0 none;
	  box-shadow: none;
	  float: none;
	  margin-top: 0;
	  position: static;
	  width: auto;
	}
	.navbar-default .navbar-nav .open .dropdown-menu li a {
	  padding: 5px 15px;
	  line-height: 1.42857;
	}
	.navbar-default .navbar-nav .sign-in.open .dropdown-menu li a {
	  color: #fcb33b;
	}
	.navbar-default .navbar-nav .register.open .dropdown-menu li a {
	  color: #fcb33b;
	}
	.navbar.navbar-default .navbar-nav .dropdown .dropdown-toggle {
	  border: medium none;
	}
	.nav.navbar-nav {
	  margin: 0;
	}
	.close-toggle {
	  background: none repeat scroll 0 0 transparent;
	  border: medium none;
	  display: inline;
	  height: 40px;
	  position: relative;
	  text-align: right;
	  width: 100%;
	}
	.close-toggle .icon-bar:first-child {
	  -webkit-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  -o-transform: rotate(45deg);
	  transform: rotate(45deg);
	}
	.close-toggle .icon-bar {
	  background-color: #3b3b3b;
	  display: block;
	  height: 3px;
	  margin: auto;
	  position: absolute;
	  right: 0;
	  width: 30px;
	}
	.close-toggle .icon-bar:last-child {
	  -webkit-transform: rotate(135deg);
	  -ms-transform: rotate(135deg);
	  -o-transform: rotate(135deg);
	  transform: rotate(135deg);
	}
	.list-orange .close-toggle {
	  width: 53px;
	}
	.nav.nav-pills {
	  display: inline-block;
	  float: left;
	}
	.title-filter {
	  width: 100%;
	}
	.nav-pills .filter-select,
	.sort .sort-list {
	  margin: 5px 0;
	  padding: 0 10px;
	  width: 100%;
	}
	.navbar-default {
	  padding: 0;
	}
	.below-nav {
	  background-color: transparent;
	  box-shadow: 0 0;
	}
	.navbar-header:before {
	  box-shadow: 0 2px 5px #999;
	  background-color: #fcb33b;
	  bottom: 0;
	  height: 55px;
	  position: absolute;
	  width: 100%;
	  z-index: -1;
	}
	/*.rating {
	  float: right;
	  margin-top: 0;
	}*/
  /*detail*/
  .nav-tabs li a {
    font-size: 16px;
    padding: 10px 12px;
  }
  
  /*kelas anda*/
  .nav li .button-nav-top {
    margin: 10px 15px;
  }
  .sort-list .fa-phone {
    margin-left: 10px;
  }
  .profile-image-wrap {
    float: none;
    width: auto;
  }
  .profile-name {
    padding: 0;
    text-align: center;
  }
  .sidebar {
    margin-bottom: 30px;
  }

  /*manage*/
  .section-row {
    padding: 15px 0;
  }
  .section-row .col-sm-4 {
    /*font-family: Roboto Bold;*/
  }
  .section-row .col-sm-4:after {
    content: " :";
  }
  .section-content.table {
    padding: 20px 0;
  }
  #diskon .form-horizontal {
    margin-left: -20px;
    margin-right: -20px;
  }
  #diskon .submit-form {
    text-align: center;
  }
  .submit-form .btn.btn-default {
    margin: 10px 5px;
  }
  /*profile*/
  .profile .submit-form,
  .kelas .submit-form {
    text-align: center;
  }
  
  /*register*/
  .panel-default .panel-heading {
    font-size: 22px;
  }
  .btn.btn-default.cek-button {
    margin-top: 10px
  }

  .btn.btn-default.cek-button.search {
    float: right;
    margin: 10px 15px;
  }

  /*vendor*/
  .log-reg .main-button.register, 
  .log-reg .cancel.btn-default {
    display: inline-block;
    margin: 10px 0;
    width: 100%;
  }

  /*landing*/

  .partner-list .item-list {
    text-align: center;
  }
  .item-list img {
    left: 0;
    right: 0;
  }
  .hero-landing {
    background: #fcb33b;
    height: 320px;
  }
  .hero-landing .content {
    padding: 0 20px 30px;
  }
  .landing .content .btn {
    margin: 10px 5px 0 0;
  }
  .partner-list {
    text-align: center;
  }
  .media-left, .media-right, .media-body {
    display: inline-block;
    text-align: center;
    vertical-align: top;
  }
  .landing .media-left {
    margin-bottom: 20px;
    padding-right: 0;
    width: 100%;
  }
  .testimonial-wrap {
    width: 100%;
  }
  .landing-subtitle {
    line-height: 1.2;
    width: 100%;
  }
  .landing .thumbnail img {
    margin-left: 55px;
  }
  
	.footer .col-sm-4,
	.footer .col-sm-6,
	.footer-about-detail.text-right {
	  text-align: center;
	}
  #seo-footer > li {
    float: left;
    width: 100%;
    margin-bottom: 30px;
  }
  #seo-footer > li > ul {
    list-style: outside none none;
    padding: 0 20px;
  }

  .feedback {
    color: #fff;
    text-align: center;
   } 
  .chat
  {      
      margin: 0;
      padding: 0;
      list-style: none;
  }

  .chat .chat-feedback {
    padding: 5px;
    background-color: #eee
  }

  .chat .chat-tanggapan {
    padding: 5px;
    background-color: #eee
  }

  .chat li
  {
      list-style-type: none;
      margin-bottom: 10px;
      padding-bottom: 5px;
      border-bottom: 1px dotted #B3A9A9;
  }

  .chat li.left .chat-body
  {
      margin-left: 60px;
  }

  .chat li.right .chat-body
  {
      margin-right: 60px;
  }


  .chat li .chat-body p
  {
      margin: 0;
  }

  .panel .slidedown .glyphicon, .chat .glyphicon
  {
      margin-right: 5px;
  }

  ::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
  }

  ::-webkit-scrollbar
  {
      width: 12px;
      background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #555;
  }


}